# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv/
__pycache__/
vectordb/
MVSPython/
captured_images/
result_images/

backend/inference/openvino_model/
backend/inference/openvino_models/
*.bin
*.blob

backend\mecup.db
backend\mecup.db-shm
backend\mecup.db-wal
*.pdf
backend\error_log.txt